.card-container-category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 12px;
    margin: 47px auto;
}


@media (max-width: 900px) {
    .card-container-category {
        margin: 0 auto;
    }
}

