.discount-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.discount-card {
  position: relative;
  width: 200px;
  height: 160px;
  display: flex;
  align-items: end;
  justify-content: start;
  padding: 10px;
  border-radius: 12px;
  text-decoration: none;
}

.discount-card-text {
  padding: 3px 10px;
  display: flex;
  align-items: center;
  border: 1px solid #00000075;
  color: #000;
  background-color: #fff;
  border-radius: 30px;
  font: 500 13px Segoe UI;
}

.favorite-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 6px 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 777;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.discount-card:hover .favorite-button {
  opacity: 1;
}

.favorite-button-svg svg {
  fill: #fff;
  stroke: #000;
  stroke-width: 2px;
  width: 17px;
  height: 17px;
}