.editor-gifts-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 57px 0;

}
.editors-pick-text{
    font: 500 15px Roboto;
    color: #464646b7;

}
.editor-gifts-text{
    width: 661px;
    display: flex;
    flex-direction: column;
    padding: 37px;
    margin: 0 0 87px 0;

}
.editor-gifts-text h5 {
    font: 500 27px Segoe UI;
    margin: 0 0 7px 0;
}
.shop-text{
    font: 400 17px/1.3 Roboto;
    color: #303030ec;
    width: 340px;
    margin: 0 0 17px 0;
}
.editor-gifts-text a {
    width: 230px;
    padding: 12px 15px;
    color: #000;
    font: 500 17px Segoe UI;
    border-radius: 30px;
    background-color: #e9e9e9;
    text-decoration: none;
    transition: ease-in-out .2s;
    text-align: center;
}

.editor-gifts-text a:hover {
    background-color: #d4d4d4;
    box-shadow: var(--clg-effect-sem-shadow-elevation-3, 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026);
}

.editor-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.editor-card {
    position:relative;
    width: 317px;
    height: 317px;
    display: flex;
    align-items: end;
    justify-content: start;
    border-radius: 17px;
    text-decoration: none;
}
.editor-card-price {
  padding: 3px 10px;
  display: flex;
  align-items: center;
  border: 1px solid #00000075;
  color: #000;
  background-color: #fff;
  border-radius: 30px;
  font: 500 13px Segoe UI;
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 777;
}

.favorite-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 6px 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 777;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.editor-card:hover .favorite-button,
.editor-card:hover .editor-card-price{
  opacity: 1;
}


.favorite-button-svg svg {
  fill: #fff;
  stroke: #000;
  stroke-width: 2px;
  width: 17px;
  height: 17px;
}