.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 0 0 0;
    padding: 6px 0;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f1641e;
    text-decoration: none;
    margin-right: 16px;
}

/* DROPDOWN SECTION  */
.navbar-menu-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    border-radius: 30px;
    padding: 8px 15px;
    cursor: pointer;
    color: #222;
    margin-right: 6px;
    transition: all .2s ease-in-out;
}

.navbar-menu-button:active {
    transform: scale(0.97);
}

.navbar-menu-wrapper {
    position: relative;

}

.menu-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 20px;
    width: 300px;
    height: 580px;
    max-height: 300px;
    overflow-y: auto;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    z-index: 777;
}

.dropdown-link {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.dropdown-link:hover {
    background-color: #e8e8e8;
    text-decoration: underline;
}


.navbar-bottom-nav-link:hover,
.navbar-nav-link:hover,
.navbar-menu-button:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.navbar-menu-icon,
.navbar-menu-icon svg {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.navbar-menu-text {
    font: 500 16px Arial;
}

/* SEARCHBAR SECTION  */
.navbar-search-section {
    display: flex;
    align-items: center;
    width: 70%;
    position: relative;
}

.search-wrapper {
    display: flex;
    width: 100%;
}

.navbar-search-input {
    width: 100%;
    height: 48px;
    padding: 12px 20px;
    border: 2px solid #222;
    border-right: none;
    border-radius: 30px 0 0 30px;
    font-size: 16px;
    outline: none;
    background: #fafafa;
}

.search-button-section {
    background: #fafafa;
    border: 2px solid #222;
    border-left: none;
    border-radius: 0 30px 30px 0;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.navbar-search-button {
    background: #f1641e;
    border: none;
    border-radius: 30px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.navbar-search-section:hover .navbar-search-button {
    border-radius: 0 30px 30px 0;
    background: hsla(20, 88%, 53%, 0.7);
    width: 48px;
    height: 48px;
}

.navbar-search-section:focus-within .navbar-search-button {
    border-radius: 0 30px 30px 0;
    width: 48px;
    height: 48px;
}


.search-dropdown {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #cccccca2;
    border-radius: 11px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 777;
}

.search-option {
    padding: 10px 16px;
    text-decoration: none;
    color: #222222;
    cursor: pointer;
}

.search-dropdown-heading {
    font-size: 15px;
    font: 600 16px Segoe UI;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.search-option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
    cursor: pointer;
}

.search-option-icon {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    object-fit: cover;
}

.search-option:hover {
    background-color: #e8e8e8;
}

/* SIDE LINKS */
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav-link {
    color: #222;
    border-radius: 30px;
    font: 500 14px Segoe UI;
    text-decoration: none;
    padding: 8px 15px;
    margin: 0 0 0 18px;
    transition: all .2s ease-in-out;
}

.navbar-nav-link {
    width: 78px;
    text-align: center;
}

.navbar-nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222;
    border-radius: 30px;
    font: 500 14px Arial;
    text-decoration: none;
    padding: 12px 12px;
    height: 45px;
    width: 45px;
    transition: all .2s ease-in-out;

}

.navbar-nav-icon:hover {
    background-color: #ccebff;
    color: #122769;
}

.link-tooltip {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-tooltip .tooltip {
    position: absolute;
    top: 48px;
    background-color: #0e2366;
    color: white;
    padding: 12px 13px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 777;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.navbar-nav-icon:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

/* BOTTOM NAVBAR  */
.navbar-bottom-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0 5px;
    gap: 25px;
    border-bottom: 2px solid #d5d4d4;
}

.navbar-bottom-nav-link {
    color: #222;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 7px 12px;
    font: 500 14px Segoe UI;
    gap: 4px;
    transition: .4s ease-in-out;
}


/* Hamburger hidden by default */
.navbar-hamburger {
    display: none;
}

/* Responsive adjustments */
@media (max-width: 1378px) {
    /* .navbar-nav-link {
        width: 70px;
        font-size: 12px;
    } */

}

@media (max-width: 900px) {
    .navbar-menu-text {
        display: none;
    }
}

@media (max-width: 635px) {
    .navbar-bottom-nav-link {
        font-size: 10px;
        padding: 5px 10px;
    }

}

@media (max-width: 600px) {
    .navbar-nav-icon[href="/gifts"]{
        display: none;
    }
    /* .navbar-container {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        padding: 6px 0 0 0;
    }

    .navbar-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 10px auto;
        width: 60px;
        height: 30px;
    }

    .navbar-logo svg {
        width: 100%;
        height: auto;
        max-width: 60px;
        max-height: 30px;
        min-width: 30px;
    }

    .navbar-search-section {
        flex-direction: column;
        align-items: stretch;
        max-width: 100%;
        width: 100%;
        gap: 0;
    }

    .navbar-search-input {
        width: 100%;
        min-width: 0;
        font-size: 15px;
        height: 38px;
        border-radius: 20px 20px 0 0;
        margin-bottom: 0;
    }

    .search-button-section {
        width: 100%;
        border-radius: 0 0 20px 20px;
        height: 38px;
        margin-top: -2px;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
        margin: 10px 0;
    }

    .navbar-nav-link,
    .navbar-nav-icon {
        padding: 8px 8px;
        font-size: 13px;
        width: auto;
        height: auto;
    }

    .navbar-bottom-nav {
        flex-direction: column;
        align-items: stretch;
        gap: 6px;
        padding: 4px 0;
    }

    .navbar-bottom-nav-link {
        justify-content: flex-start;
        font-size: 13px;
        padding: 7px 8px;
    }

    .menu-dropdown {
        width: 90vw;
        min-width: 180px;
        left: 0;
        right: 0;
        margin: 10px auto 0 auto;
        max-height: 220px;
    }

    .search-dropdown {
        left: 0;
        right: 0;
        width: 100vw;
        min-width: 180px;
        margin: 0 auto;
    } */
}
@media(max-width:530px){
    .navbar-bottom-nav{
        display: none;
    }
    .navbar-search-input{
        padding: 8px 17px;
        height: 37px;
    }
    .navbar-search-button{
        height: 37px;
        display: none;
    }
    .search-button-section{
        height: 37px;
    }
}
@media(max-width:530px){
    .navbar-logo{
        display: none;
    }
}